/* ボタンのスタイル（必要に応じて） */
.code-buttons button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* 選択されたボタンのスタイル */
.code-buttons .selected {
  background-color: black; /* Green */
  color: white;
}

/* ボタンのレイアウトを改善 */
.code-buttons button {
  flex: 1 0 auto; /* ボタンを均等に分布させる */
}

/* ボタンを含むdivのスタイル */
.code-buttons {
  display: flex; /* ボタンを横並びにする */
  flex-wrap: wrap; /* 必要に応じてボタンを折り返す */
  justify-content: space-between; /* ボタン間のスペースを均等に分布させる */
  text-align: left; /* ボタンのテキストを左揃えにする */
}
