/* 基本的なレイアウトとフォントスタイル */
.note-from-interval div {
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 2em;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
  }
  
  /* 入力フィールドのスタイル */
  input[type="text"] {
    font-size: 1.2em;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  /* 正答、誤答の表示スタイル */
  .correct {
    color: green;
  }
  
  .wrong {
    color: red;
  }
  
  /* 選択された入力のスタイル */
  .selected-input {
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
  }

  table {
    border-collapse: collapse;
    width: 100%;  /* テーブルをページ全体に広げる */
  }
  
  th, td {
    border: 1px solid black;
    text-align: center;  /* テキストを中央揃えにする */
    padding: 8px;  /* セル内のテキストと罫線との間にスペースを作る */
  }
  
  .correct {
    background-color: #c8e6c9;  /* 正答を緑色で表示 */
  }
  
  .wrong {
    background-color: #ffcdd2;  /* 間違いを赤色で表示 */
  }